#mycanvas{
    border: 10px solid sandybrown;
    margin-left: 400px;

}


.paye1{
    height: 283px;
    margin-top: -293px;
    margin-left: 815px;
}

.paye2{

    height: 266px;
    margin-top: -379px;
    margin-left: 871px;
    width: 19px;
}


.sun{
    margin-top: -748px;
    height: 153px;
    margin-left: -169px;
}

.grass{
    width: 400px;
    margin-top: -141px;
    margin-left: -321px;
}

.tree{
    margin-top: -304px;
    width: 387px;
    margin-left: -697px;
}


.nakh{

    width: 460px;
    margin-top: -619px;
    margin-left: -302px;
}